* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}

.facebook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 74%;
    margin: auto 14%;
    height: 100vh;
}

.facebook .text {
    margin-top: -10%;
    width: 46%;
}
@media (max-width:890px){
    .facebook{
        display: block;
        width: 100%;
        margin: 30px 20px;
    }
    .facebook .text{
        width: 100%;
        margin-top: 10%;
        padding: 10px;
    }
    .facebook .text p{
        max-width: 100%;
        margin-right: 10px;
    }
}
.text h1 {
    color: rgb(7, 102, 255, 1);
    font-size: 60px;
    margin-bottom: 10px;
}

.text p {
    font-size: 23px;
    max-width: 100%;
}

form {
    width: 335px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid rgb(0,0, 0, 0.2);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}
@media(max-width:890px){
    form{
        margin: 40px 12px; 
    }
}
.input-box,
.login {
    width: 100%;
    height: 50%;
    margin-top: 10px;
}

.input-box input,
.login input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid rgb(0, 0, 0, 0.1);
    padding: 13px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
    caret-color: #eee;
}

input::placeholder {
    color: #777;
    font-size: 14px;
}

.login input {
    text-align: center;
    background-color: rgb(7, 102, 255, 1);
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    border: none;
    color: white;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(7, 102, 255, 1);
    font-size: 15px;
    text-decoration: none;
    padding: 10px 5px;
    position: relative;
}

a:hover {
    text-decoration: underline;
}

a::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #777;
    position: absolute;
    left: 0;
    bottom: 0px;
    opacity: 0.3;
}

.create {
    width: 100%;
    height: 35px;
}

.create input {
    width: 60%;
    height: 100%;
    margin: 0 20%;
    border: none;
    outline: none;
    background-color: #43b72a;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 8px;
    cursor: pointer;
}